html {
  color: black;
  font-size: 20px;
}

h1{
  color: rgb(179, 255, 0);
}

.serif {
  font-family: serif;
  color: rgb(103, 0, 221);
}
.verdana {
  font-family: verdana;
  color: rgb(255, 0, 43);
}
.protest-guerrilla {
  font-family: 'Protest Guerrilla';
  color: rgb(61, 129, 16);
}
.sans-serif {
  font-family: sans-serif;
  color: rgb(122, 64, 122);
}
.protest-revolution {
  font-family: 'Protest Revolution';
  color: rgb(71, 70, 70);
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(143, 243, 13, 0.712);
}
.courier-new {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(0, 231, 181);
}
.georgia {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(11, 11, 177);
}
.times-new-roman {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(83, 24, 179);
}
.verdana2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 228, 75);
}

.nerko {
  font-family: 'Nerko One', sans-serif;
}
.marker {
  font-family: 'Permanent Marker', sans-serif;
}
.rock {
  font-family: 'Rock Salt', cursive;
}
.sixtyfour {
  font-family: 'Sixtyfour', sans-serif;
}
.protest-guerrilla2 {
  font-family: 'Protest Guerrilla', serif;
}

.ten {
  color: black;
  font-size: 10px;
}
.eleven {
  color: blue;
  font-size: 11px;
}
.twelve {
  color: green;
  font-size: 12px;
}
.thirteen {
  color: brown;
  font-size: 13px;
}
.fourteen {
  color: yellowgreen;
  font-size: 14px;
}
.fiveteen {
  color: purple;
  font-size: 15px;
}
.sixteen {
  color: orange;
  font-size: 16px;
}
.seventeen {
  color: yellow;
  font-size: 17px;
}

.one {
  color: black;
  font-size: 1.1rem;
}
.two {
  color: blue;
  font-size: 1.2rem;
}
.three {
  color: green;
  font-size: 1.3rem;
}
.four {
  color: brown;
  font-size: 1.4rem;
}
.five {
  color: yellowgreen;
  font-size: 2.5rem;
}
.six {
  color: purple;
  font-size: 2.6rem;
}
.seven {
  color: orange;
  font-size: 3.7rem;
}
.eight {
  color: yellow;
  font-size: 5.8rem;
}

.normal {
  font-style: normal;
  font-weight: normal;
}
.italic {
  font-style: italic;
  font-weight: normal;
}
.bold {
  font-style: normal;
  font-weight: bold;
}
.uppercase-italic {
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
}
.uppercase-bold {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}
.capitalize-weight-500 {
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}
.capitalize-weight-600 {
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
.capitalize-weight-700 {
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.capitalize-weight-800 {
  font-style: normal;
  font-weight: 800;
  text-transform: capitalize;
}
.capitalize-weight-900 {
  font-style: normal;
  font-weight: 900;
  text-transform: capitalize;
}
.bold-orange-line-through {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: line-through orange;
}
.bold-blue-line-through {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: line-through blue;
}
.bold-red-wavy-underline {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline wavy red;
}
.bold-red-line-through {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: line-through red;
}

.white-permanent-marker {
  color: white;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px 5px black;
}
.yellow-permanent-marker-no-blur {
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px yellow;
}
.yellow-permanent-marker-with-blur {
  font-family: 'Permanent Marker', cursive;
  text-shadow: 3px 3px 5px yellow;
}
.orange-nerko-one-no-blur {
  font-family: 'Nerko One', cursive;
  text-shadow: 2px 2px orange;
}
.orange-nerko-one-with-blur {
  font-family: 'Nerko One', cursive;
  text-shadow: 2px 2px 5px orange;
}
.red-rock-salt-no-blur {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  text-shadow: 2px 2px red;
}
.red-rock-salt-with-blur {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  text-shadow: 2px 2px 5px red;
}


.bold-white-sedgwick-ave-red-black {
  color: white;
  font-family: 'Sedgwick Ave', cursive;
  font-weight: bold;
  text-shadow: 1px 1px red, 3px 3px 5px black;
}
.bold-sedgwick-ave-yellow-blue-no-blur {
  font-family: 'Sedgwick Ave', cursive;
  font-weight: bold;
  text-shadow: 2px 2px yellow, 3px 3px blue;
}
.bold-sedgwick-ave-yellow-blue-with-blur {
  font-family: 'Sedgwick Ave', cursive;
  font-weight: bold;
  text-shadow: 3px 3px 5px yellow, 6px 6px 5px blue;
}
.lakki-reddy-orange-red-no-blur {
  font-family: 'Lakki Reddy', cursive;
  text-shadow: 1px 1px orange, 2px 2px red;
}
.lakki-reddy-orange-red-with-blur {
  font-family: 'Lakki Reddy', cursive;
  text-shadow: 3px 3px 5px orange, 6px 6px 5px red;
}
.orange-bold-gloria-hallelujah-red-blue-no-blur {
  color: orange;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  text-shadow: 2px 2px red, 4px 4px blue;
}
.orange-bold-gloria-hallelujah-red-blue-with-blur {
  color: orange;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  text-shadow: 3px 3px 5px red, 6px 6px 5px blue;
}

.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.center-align {
  text-align: center;
}
.justify-align {
  text-align: justify;
}

.line-height-08 {
  line-height: 0.8;
}
.line-height-12 {
  line-height: 1.2;
}
.line-height-16 {
  line-height: 1.6;
}

.word-spacing-10 {
  word-spacing: 10px;
}
.letter-spacing-5 {
  letter-spacing: 5px;
}

.paragraph1 {
  font: bold italic 24px 'Special Elite', cursive;
}
.paragraph2 {
  font: bold italic 28px 'Bonbon', cursive;
}
.paragraph3 {
  font: normal 18px 'Arial', sans-serif;
}
.paragraph4 {
  font: italic 20px 'Georgia', serif;
}
.paragraph5 {
  font: bold 22px 'Verdana', sans-serif;
}